

.navbar, .nav-link {
    color: white;
}

.landing {
    color: white;
    position: absolute;

}

.landing-text {
    position: absolute;
    bottom: 50%;
    right: 50%;
}

#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100vh;
}

.middle {
    text-align: center;
    height: 100vh;
}

.top {
    height: 10vh;
}

.bottom {
    height: 10vh;
}